//imports here
@import "app_variables_and_themes";
//here margin willbe formatted for all my elements 
h1,h2,h3,h4,h5,h6,div,p,section,main,a,abbr,address,area,aside,blockquote,body,dd,dt,dl,embed,form,footer,header,iframe,img,label,nav,ol,ul,li,select,table,tbody,td
{
    margin: 0px;
    box-sizing: border-box;
    width: 100%;
}
//mixin for general ui view font.
body
{
    font-family : $theme-view-font1-light;
    color : $theme-text-main;
    font-size : 14px;
}
// utils.
[class~="tight"]
{
    width: max-content;
    height: max-content;
}

[class~="semibold-text"]
{
    font-weight : 600;
}

[class~="regular-text"]
{
    font-weight : 500;
}

[class~="light-text"]
{
    font-weight : 300;
}

[class~="bold-text"]
{
    font-weight : 800;
}
.vs-navbar--header{
    display: none;
}
// main.
.body-style
{
    padding: 0px;
    margin: 0px;
}
:root {
    --animation-duration : 500ms;
    --animation-delay : 0s;
}

[class~="icon-color1"]{
    color : $theme-text-main;
}
[class~="no-padding"]{
    padding: 0px;
}
[class~="no-margin"]{
    margin: 0px;
}
[class~="con-vs-loading"]{
    opacity : 0.8;
}

.btn
{
    border: 0px solid;
    border-radius: 3px;
}
.btn.small.login{
    border: 2px solid white;
    padding: 5px;
    background-color: #cbe0ff;
    color: #66668d;
    margin-right: -30%;
}
.btn.small.signup{
    border: 2px solid #51baba;
    padding: 5px;
    background-color: #0d6978;
    color: white;
    margin-right: 30%;
}
.btn.small
{
    width: 65%;
    padding: 5px 0px 5px 0px;
}

.btn.midi
{
    width: 85%;
    padding: 7px 0px 7px 0px;
}

.btn.theme
{
    width: max-content;
    padding: 7px 14px;
    color: white;
    background-color: #b1a855;
    border: 1px solid #f3f188;
}

.btn.utils
{
    width: max-content;
    font-size: 75%;
    padding: 5px 10px;
    color: #db4800;
    background-color: #fbe69f;
    font-weight: bold;
    border: 1px #a38315;
    letter-spacing: 0.5px;
}